<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,600' rel='stylesheet' type='text/css'>
    <link href="/css/custom.css" rel="stylesheet" media="screen">
  </head>
  
  <body>
    
    <nav>
      <div class="container">
        <a href="index.html" class="pull-left logo" title="Planet Argon Bicyclesunicycle"><span>Planet Argon Bicycles</span></a>
        <ul class="nav nav-pills pull-right">
          <li><a href="index.html#about">About</a></li>
          <li><a href="index.html#bikes">Bikes</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </nav>
    
    {{ content }}
    
    <footer>
      <div class="container">
        <div class="row-fluid">
          <div class="span4">
            <h3>Contact</h3>
            <address>
              2240 N Interstate Ave.<br />
              Suite 240<br />
              Portland, OR 97227 USA<br />
              503-847-9214
            </address>
          </div>
          <div class="span4">
            <h3>Recent Blog Posts</h3>
            
            {% for post in site.posts %}
            
              <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
              <p class="muted"><em>{{ post.date | date_to_string }}</em></p>
              <p>{{ post.teaser }}</p>
              
            {% endfor %}
            
          </div>
          <div class="span4">
            <h3>Join our Mailing List</h3>
            <form>
              <label for="name">Name</label>
              <input type="text" id="name" class="input-block-level" placeholder="Lance Armstrong" />
              <label for="email">Email address</label>
              <input type="text" id="email" class="input-block-level" placeholder="lance@email.com" />
              <p class="text-right"><button type="submit" class="btn btn-large">Submit</button></p>
            </form>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>